*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrap{
	width: 1100px;
	margin: 50px auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.tarjeta-wrap{
	margin: 10px;
	-webkit-perspective: 800;
	perspective: 800;
}

.tarjeta{
	width: 300px;
	height: 350px;
	background: #1f9939;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .5s ease;
	transition: .5s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);

}

.adelante, .atras{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.adelante{
	width: 100%;
}

.atras{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);

	padding: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	text-align: center;
	color: #D5F5E3 ;
	font-family: "open sans";
}

.tarjeta-wrap:hover .tarjeta{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card1{
	background-image: url(../img/nota.png);
	background-size: cover;
}

.card2{
	background-image: url(../img/circu.png);
	background-size: cover;
}

.card3{
	background-image: url(../img/me.png);
	background-size: cover;
}
.btn{
	border: 1px solid white;
	background: rgba(255, 255, 255, 0.21);
	padding: 10px 20px;
	border-radius: 20px;
	text-decoration: none;
	color: white;
	transition: all 0.5s;
}
.btn:hover{
	padding: 10px 40px;
	background: white;
	color:black
}
/** footer **/

.footer {
	font-family: Poppins;
	background: #0c0f38;
}

.cont {
	text-align: center;
	margin-top: 31%;
}

.cont h3 {
	color: #fff;
	font-size: 45px;
	line-height: 30px;
	font-weight: bold;
	padding: 30px 0px 0px 0px;
}

.cont span {
	color: #fff;
	font-size: 30px;
	line-height: 30px;
	padding: 30px 0px 30px 0px;
	display: inline-block;
	font-weight: bold;
}

.cont p {
	color: #fff;
	font-size: 17px;
	line-height: 30px;
	padding: 0 130px;
	padding-bottom: 60px;
}

.copyright {
	padding: 20px 0px;
	background: #fff;
}

.copyright p {
	color: #1e1e1e;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}

.copyright a {
	color: #1e1e1e;
}

.copyright a:hover {
	color: #0c0f38;
}


/** end footer **/